$md-up: "screen and (min-width: 600px)";
$lg-up: "screen and (min-width: 900px)";
$xl-up: "screen and (min-width: 1024px)";
$xxl-up: "screen and (min-width: 1440px)";
$xxxl-up: "screen and (min-width: 1920px)";

$xl-down: "screen and (max-width: 1439px)";
$lg-down: "screen and (max-width: 899px)";
$md-down: "screen and (max-width: 599px)";